.signup{
  margin-left: 20%;
  margin-right: 60%;
  
  background-color: transparent;
  text-align: left;
  color: white;
  position:relative;
  top:85px;
}
.signup form input[type=text], .signup form input[type=password], .login form input[type=text], .login form input[type=password]{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.signup form input[type=submit],.login form input[type=submit]{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: red;
  color: white;}

.signup form input[type=button],.login form input[type=button]{
  background-color: blue;
  color: white;
  box-sizing: border-box;
}

.login {
  margin-left: 60%;
  margin-right: 20%;
  background-color: transparent;
  text-align: right;
  color: rgb(230, 244, 230);
  position:relative;
  top: -270px;
}

.heading {color: #3F2537;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Futura PT";
  text-align: center;
  font-size: 56px
}

.hours_location{
  text-align: center;
}

.hours_location p u a{
  color: #3F2537;
}

.f_buttons{
  background-color: #E6F4E6;
  border-color: #3F2537;
  color: #3F2537;
  border-radius: 20px;
  padding: 10px;
}

.f_buttons:hover{
  background-color: #3F2537;
  color: white;
}

.navigations{
  width: 100%;
  height: 40px;
  text-align: center;
}

.navigations ul{
    margin-top: 0%;
    background-color: transparent;
}

.navigations ul li{
  list-style-type: none;
  display: inline-block;
}

.navigations ul li a{
  text-decoration: none;
  color: #574651;
  padding: 20px;
}

.navigations ul li:hover{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

.name a {
  color: #3F2537;
  text-decoration: none;
}

footer .footer {
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 1.5;
  background-color: #3F2537;
  color: white;
  width: 100%;
  height: 100px;
  text-align: center;
}

footer .footer ul li{
  list-style-type: none;
  display: inline-block;
}

footer .footer ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

.menu{
  text-align: center;
  border-style: double;
  border-width: 3px;
  border-color: rgb(61, 255, 61);
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu h2{
  color: #3F2537;
}

.menu h2 p {
  color: #574651;
}

.home {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
}

.home:hover {
  background-color: RoyalBlue;
}

.contact form input[type=text], .contact form select, .jobs form input[type=text], .jobs form select{
  background-color: #E6F4E6;
  width: 40%;
  height: 5%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.contact form textarea, .jobs form textarea {
  background-color: #E6F4E6;
  width: 40%;
  height: 23%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.jobs{
  text-align:center ;
}

.resume {margin-left: 30%;}

.catering_contact input[type=text], input[type=date], input[type=time]{
  width: 20%;
  height: 8%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black
}

.catering_contact textarea{
  width: 40%;
  height: 25%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black
}

.catering_contact form p .email{
  width: 40%;
  height: 8%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black
}

.catering_contact select{
  width: 20%;
  height: 8%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black
}

.signup_button {
  background-color: #3F2537;
  border-color: #07ffb9;
  color: #07ffb9;
  border-radius: 20px;
  padding: 10px;
}

.signup_button:hover{
  background-color: white;
  color: #3F2537;
}
