.signup{
  margin-left: 20%;
  margin-right: 60%;
  
  background-color: transparent;
  text-align: left;
  color: white;
  position:relative;
  top:110px;
}
input[type=text], input[type=password] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

input[type=submit]{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: red;
  color: white;}

input[type=button]{
  background-color: blue;
  color: white;
  box-sizing: border-box;
}

.login {
  margin-left: 60%;
  margin-right: 20%;
  background-color: transparent;
  text-align: right;
  color: rgb(230, 244, 230);
  position:relative;
  top: -214px;
}

.heading {color: #3F2537;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Futura PT";
  text-align: center;
  font-size: 56px
}

.hours_location{
  text-align: center;
}

.menu_rv1{
  background-color: #E6F4E6;
  border-color: #3F2537;
  color: #3F2537;
  border-radius: 20px;
  padding: 10px;
}

.menu_rv1:hover{
  background-color: #3F2537;
  color: white;
}

.navigations{
  width: 100%;
  height: 40px;
  text-align: center;
}

.navigations ul{
    margin-top: 0%;
    background-color: transparent;
}

.navigations ul li{
  list-style-type: none;
  display: inline-block;
}

.navigations ul li a{
  text-decoration: none;
  color: #574651;
  padding: 20px;
}

.navigations ul li:hover{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

.name a {
  color: #3F2537;
  text-decoration: none;
}